.home-top {
  width: auto;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
}

.locate {
  width: 20%;
  padding: 0 0 0 10px;
  position: relative;

  p {
    font-size: 14px;
    display: inline-block;
  }
}

.locate-icon {
  position: absolute;
}

.search {
  width: 70%;
}

.search-inp {
  font-size: 14px;
  color: #666;
}

.news {
  width: 10%;
  padding: 8px 0 0 8px;
}
