.commodityDetails {
    width: 100%;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.commonsityBox{
    width: 100%;
}
.commondityImg {
    width: auto;

    img {
        width: 100%;
        // height: 322px;
    }
}

.commodityConts {
    width: auto;
    padding: 20px 12px;
}

.desciption {
    width: auto;
    text-align: left;
    font-size: 18px;
    line-height: 25px;
    color: #333333;
}

.commodityPrice {
  display: flex;
    flex-wrap: nowrap;
    margin: 15px 0;
    justify-content: flex-start;
    align-items: center;

    p {
        font-size: 24px;
        line-height: 33px;
        color: #FF4C2A;
    }

    button {
        padding: 5px 9px;
        border-radius: 4px;
        font-size: 10px;
        line-height: 14px;
        background-color: #FFFFFF;
        border: 1px solid #DCDCDC;
        margin: 0 0 0 15px;
    }
}

.normalPrice {
    font-size: 12px;
    line-height: 17px;
    color: #666666;
    text-align: left;
    margin: 8px 0;
}

.expressage {
    width: auto;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    line-height: 17px;
    color: #666666;
}

.settleAccounts{
    width: 100%;
    height: 60px;
    border-top: 1px solid #E2E2E2;
}
.commodityDeep {
    width: 100%;
    height: 60px;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;

    ul {
        width: 40%;
        height: 60px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        background-color: #FFFFFF;

        li {
            font-size: 12px;
            line-height: 17px;
            color: #666666;
        }

    }

    button {
        width: 30%;
        height: 60px;
        font-size: 16px;
        line-height: 60px;
    }
}

.intoCar {
    background-color: #FFF0F4;
    color: #FD95AF;
}

.toBuy {
    background-color: #FD95AF;
    color: #FFFFFF;
}