.common-hd {
  width: auto;
  padding: 10px 0;
  position: relative;
  border: 1px solid #f4f4f4;

  p {
    text-align: center;
    color: #333;
    font-size: 17px;
    line-height: 20px;
  }

  img {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
  }
}

.go-back {
  position: absolute;
  top: 4px;
}
