.commonHead {
    width: auto;
    padding: 10px;
    position: relative;

    p {
        text-align: center;
        color: #333333;
        font-size: 17px;
        line-height: 20px;
    }
}

.goBack {
    position: absolute;
    top: 3px;
}