.goods-category {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    width: 45%;
    margin: 0 5px;
  }
}

.commodity-img {
  width: 100%;
  // height: 150px;
}

.commodity-description {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

.commodity-sales {
  width: 100%;
  padding: 15px 10px 10px;
  font-size: 18px;
  line-height: 25px;
  color: #ff4c2a;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}