.goodsCategory {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;

  li {
    width: 45%;
    margin: 0 5px;
  }
}

.commodityImg {
  width: 100%;
  // height: 150px;
}

.commodityDescription {
  color: #666666;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis; //当对象内文本溢出时显示省略标记
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.commoditySales {
  width: 100%;
  padding: 15px 10px 10px 10px;
  font-size: 18px;
  line-height: 25px;
  color: #FF4C2A;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}