.discover {
    width: auto;
    height: 100%;
    overflow: auto;
    overflow-x: hidden;
}

.discoverTop {
    width: 100%;
}

.weddingProduct {
    width: auto;
    padding: 12px;

    h3 {
        font-size: 14px;
        color: #000000;
        line-height: 20px;
    }
}

.weddingProductClassify {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        width: 33%;
        box-sizing: border-box;
        padding: 8px 0;
        text-align: center;

        img {
            width: 38px;
            height: 38px;
        }

        p {
            font-size: 10px;
            line-height: 14px;
            color: #666666;
        }
    }
}

.maskLayerDatas {
    width: 100%;
    padding: 0 5px;
    display: inline-flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;

    li {
        width: 50%;
        box-sizing: border-box;
        padding: 2px 5px;
        position: relative;

        img {
            width: 100%;
        }

        p {
            position: absolute;
            top: 45%;
            left: 0;
            width: 100%;
            line-height: 20px;
            font-size: 14px;
            color: #FFFFFF;
            text-align: center;
        }
    }
}

.shows {
    width: 100%;
    padding: 10px 12px;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    text-align: center;

    li {
        width: 25%;
        box-sizing: border-box;
        padding: 10px 0;

        img {
            // width: 70px;
            // height: 70px;
        }

        p {
            margin: 10px 0 0 0;
            font-size: 14px;
            line-height: 20px;
            color: #333333;
        }
    }
}
.pageDeep{
    width: 100%;
    height: 50px;
    border-top: 1px solid #F4F4F4;
  }